.chip {
  display: flex;
  align-items: center;
  height: fit-content;
  width: max-content;
  border-radius: 26px;
  border: 2px #313244 solid;
  gap: 0.4rem;
  padding: 0.3rem 0.4rem 0.3rem 0.6rem;
  transition: border-color 0.2s ease;

  .icon-container.chip {
    border: none;
    outline: none;
    border: transparent solid 2px;
    padding: 0.2rem;
    transition: border 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .icon-container.chip:focus {
    outline: none;
    padding: 0.2rem;
    border: #89b4fa solid 2px;
  }
}

.chip:hover {
  border-color: #89b4fa;
}

@media screen and (max-width: 640px) {
  .chip {
    gap: 0.2rem;
    padding: 0.2rem 0.3rem 0.2rem 0.5rem;
  }
}
