#root {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: #1a1a1a;
  color: #fafafa;
}

/* Ensure Loader component isn't cropped */
.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #root {
    padding: 1rem 0.5rem;
    align-items: flex-start;
  }
}
